<div class="row justify-content-center">
  <div id="vista-recibidor" class="col-sm-12 col-md-8">
    <h1>Juegos Kinori Tech <img src="assets/kinoritech-ico-lg.png" class="rounded text-right logo" alt="logo"></h1>
    <h2 class="text-emphasis">Ingreso</h2>
    <div class="jumbotron bg-background-hl">
    <form [formGroup]="formaInicio" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="usuario">Usuario</label>
        <input id="usuario" type="text" formControlName="usuario" class="form-control bg-background border-secondary text-primary"
               [ngClass]="{ 'is-invalid': enviada && f.usuario.errors }" />
        <div *ngIf="enviada && f.usuario.errors" class="invalid-feedback">
          <div *ngIf="f.usuario.errors.required">Nombre de usuario es requerido</div>
        </div>
      </div>
      <div class="form-group">
        <label for="clave">Contraseña</label>
        <div class="input-group">
          <input #clave id="clave" [type]="hide ? 'password' : 'text'" formControlName="clave"
                 class="form-control bg-background border-secondary text-primary"
                 data-toggle="password" [ngClass]="{ 'is-invalid': enviada && f.clave.errors }" />
          <div class="input-group-append bg-background toggle-show text-center" (click)="showPass()">
            <div class="input-group-text border-secondary bg-background text-secondary"><fa-icon [icon]="pwEye"></fa-icon></div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="cargando" class="btn btn-primary text-background-hl">
          <span *ngIf="cargando" class="spinner-border spinner-border-sm mr-1"></span>
          Iniciar Sesión
        </button>
        <a routerLink="/registrar" class="btn btn-link">Registrarse</a>
      </div>
    </form>
    </div>
  </div>
</div>
