<div class="row justify-content-center">
  <div class="col-10 col-md-8">
    <div *ngIf="message" [@fadeInOut] [ngClass]="message.cssClass">{{message.text}}
      <button type="button" (click)="dismiss()" class="dismiss bg-background-hl" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
