@use '../../styles' as s;

.dismiss {
  float: right;
  @include s.font-size(s.$close-font-size);
  font-weight: s.$close-font-weight;
  line-height: 1;
  color: s.$close-color;
  text-shadow: s.$close-text-shadow;
  opacity: .5;

  :hover {
    background: s.theme-color(background-hl);
  }

  &:not(:disabled):not(.disabled) {
    @include s.hover-focus() {
      // opacity: .75;
    }
  }
}

// stylelint-disable-next-line selector-no-qualifying-type
button.dismiss {
  padding: 0;
  border: 0;
  appearance: none;
}
