<footer class="footer  mt-auto py-3">
    <div class="container">
      <p class="text-xs-center">© Copyright <a href="http://kinori.tech">Kinori Tech</a> 2020. All rights reserved.</p>
    </div>
</footer>
