@use 'parques.component' as p;

.d0 {
  fill: p.$yellow !important;
}
.d1 {
  fill: p.$green !important;
}
.d2 {
  fill: p.$blue !important;
}
.d3 {
  fill: p.$magenta !important;
}
.d4 {
  fill: p.$orange !important;
}
.d5 {
  fill: p.$cyan !important;
}
.d6 {
  fill: p.$violet !important;
}
.d7 {
  fill: p.$red !important;
}
