@forward '../../styles';
@use '../../styles' as s;

.ficha {
  cursor: move;
}

.siguiente {
  cursor: pointer;
}
// Diasble SVF text ::selection
svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
svg {
  height: 100%;
}
.d0 {
  fill: s.$yellow !important;
}
.d1 {
  fill: s.$green !important;
}
.d2 {
  fill: s.$blue !important;
}
.d3 {
  fill: s.$magenta !important;
}
.d4 {
  fill: s.$orange !important;
}
.d5 {
  fill: s.$cyan !important;
}
.d6 {
  fill: s.$violet !important;
}
.d7 {
  fill: s.$red !important;
}
.roll {
  cursor:pointer;
  fill: s.$base03 !important;
  fill-opacity: 0.05 !important;
}
.noRoll {
  cursor:default;
  fill: s.$base03 !important;
  fill-opacity: 0.85 !important;
}
