﻿<app-navbar
  [juego]="true"
  (salir)=cerrarSesion($event)
  [itemsAyuda]="config.ayuda">
</app-navbar>
<div>
    <div class="row">
        <div class="col-sm-12 col-lg-9 text-center">
            <bio-client #bio
                [bioGameConfig]="config"
                gameID="{{ idJuego }}"
                playerID="{{ idJugador }}"
                credentials="{{ credenciales }}"></bio-client>
        </div>
    </div>
<br>
</div>
