<h3>Crear una sala:</h3>
<div class="row">
    <div class="col 6">
        <form class="mt-5" action="javascript:void(0);">
            <div class="form-group row">
                <p class="col-sm-2 col-form-label">Juego:</p>
                <div class="col-sm-6">
                    <select class="custom-select bg-background-hl text-emphasis" (change)="cambiarJuego($event.target.value)">
                        <option class="bg-background-hl" disabled selected value> -- seleccione un juego -- </option>
                        <option *ngFor="let j of juegos; let i = index" [value]="i" class="bg-background-hl">
                            {{ j.game.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <p class="col-sm-2 col-form-label">Jugadores:</p>
                <div class="col-sm-2">
                    <select class="custom-select bg-background-hl text-emphasis" [(ngModel)]="numeroJugadores" name="num">
                        <option class="bg-background-hl" disabled selected value> -- puestos -- </option>
                        <option *ngFor="let n of rangoJugadores;" [value]="n" class="bg-background-hl" >
                        {{ n }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="button" class="btn btn-primary mb-2 text-background-hl" (click)="crearSala()">Crear</button>
                </div>
            </div>
        </form>
    </div>
</div>
