@use '../../styles' as s;

h1 {
    color: s.$base1;
}
h2 {
    color: s.$base1;
}
button {
    background-color: s.$base02;
    border: 2px solid s.$base1;
    margin: 5px;
    cursor:pointer;
}
button:disabled,
button[disabled]{
    background-color: s.$base03;
    border: 2px solid s.$base1;
    margin: 5px;
    cursor:default;
    color: s.$base0;
}