﻿<div [innerHTML]="bmac_cdnjs | script">
</div>

<app-navbar
  [juego]="false"
  (salir)=cerrarSesion()>
</app-navbar>
<div  id="vista-recibidor" style="margin-top: 70px;">
  <h1>Juegos</h1>
  <br>
  <div *ngIf="cargando; else salas">
    <div class="row justify-content-center">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Cargando...</span>
      </div>
    </div>
  </div>
  <ng-template #salas>
      <h2 class="text-primary">Le damos la bienvenida,<span class="text-green"> {{ nombreJugador }}</span></h2>
      <br>
      <div>
        <app-forma-acceder-sala-recibidor
          [nombreJugador]="nombreJugador"
          [actualizarSalas]="actualizarSalas"
          (enDejarSala)=dejarSala($event)
          (enUnirseSala)=unirseSala($event)
          (enJugar)=jugar($event)
          (enEspectador)=espectador($event)>
        </app-forma-acceder-sala-recibidor>
      </div>
      <br>
      <div>
        <app-forma-crear-sala-recibidor
          [juegos]="infoJuegos"
          (enCrear)="crearSala($event)">
        </app-forma-crear-sala-recibidor>
      </div>
  </ng-template>
</div>
