<div class="row justify-content-center">
  <div  id="vista-registro" class="col-sm-12 col-md-8">
    <h1>Juegos Kinori Tech <img src="assets/kinoritech-ico-lg.png" class="rounded text-right logo" alt="logo"></h1>
    <h2 class="text-emphasis">Registro</h2>
    <div class="jumbotron bg-background-hl">
      <form [formGroup]="formaRegistro" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nombre" class="text-green">Nombre(s)</label>
          <input id="nombre" type="text" formControlName="nombre" class="form-control bg-background border-secondary text-primary"
                 [ngClass]="{ 'is-invalid': enviada && f.nombre.errors }" />
          <div *ngIf="enviada && f.nombre.errors" class="invalid-feedback">
            <div *ngIf="f.nombre.errors.required">Debe ingresar nombre(s)</div>
          </div>
        </div>
        <div class="form-group">
          <label for="apellido" class="text-green">Apellido(s)</label>
          <input id="apellido" type="text" formControlName="apellido" class="form-control bg-background border-secondary text-primary"
                 [ngClass]="{ 'is-invalid': enviada && f.apellido.errors }" />
          <div *ngIf="enviada && f.apellido.errors" class="invalid-feedback">
            <div *ngIf="f.apellido.errors.required">Debe ingresar apelllido(s)</div>
          </div>
        </div>
        <div class="form-group">
          <label for="usuario" class="text-green">Usuario</label>
          <input id="usuario" type="text" formControlName="id" class="form-control bg-background border-secondary text-primary"
                 [ngClass]="{ 'is-invalid': enviada && f.id.errors }" />
          <div *ngIf="enviada && f.id.errors" class="invalid-feedback">
            <div *ngIf="f.id.errors.required">Debe seleccionar un nombre de usuario</div>
          </div>
        </div>
        <div class="form-group">
          <label for="clave" class="text-green">Contraseña</label>
          <div class="input-group">
            <input #clave id="clave" [type]="hide ? 'password' : 'text'" formControlName="clave" class="form-control bg-background border-secondary text-primary"
                   data-toggle="password" [ngClass]="{ 'is-invalid': enviada && f.clave.errors }" />
            <div class="input-group-append bg-background toggle-show text-center" (click)="showPass()">
                <div class="input-group-text border-secondary bg-background text-secondary"><fa-icon [icon]="pwEye"></fa-icon></div>
            </div>
            <div *ngIf="enviada && f.clave.errors" class="invalid-feedback">
              <div *ngIf="f.clave.errors.required">La contraseña es requerida</div>
              <div *ngIf="f.clave.errors.minlength">La contraseña debe tener al menos 6 caracteres</div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="cargando" class="btn btn-primary text-background-hl">
            <span *ngIf="cargando" class="spinner-border spinner-border-sm mr-1"></span>
            Registrarse
          </button>
          <a routerLink="/" class="btn btn-link">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>
