@use '../../styles' as s;

#nombre:-webkit-autofill {
  background-color: s.$base03 !important;
}

#apellido:-webkit-autofill {
  background-color: s.$base03 !important;
}

#usuario:-webkit-autofill {
  background-color: s.$base03 !important;
}

#clave:-webkit-autofill {
  background-color: s.$base03 !important;
}

