﻿<nav class="navbar navbar-expand-lg navbar-dark bg-background text-primary">
  <a class="navbar-brand text-primary" href="http://kinori.tech">
    <img src="assets/kinoritech-ico.png" width="30" height="30" alt="logo">
    Kinori Tech
  </a>
  <button class="navbar-toggler" type="button" (click)="colapse()"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbarcollapse" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="isCollapsed" id="navbarcollapse">
    <div class="navbar-nav">
      <li *ngIf="juego" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " id="navbarDropdown" role="button" (click)="rulesDropdown()" aria-haspopup="true" aria-expanded="false">
          Ayuda
        </a>
        <div class="dropdown-menu dropdown-ayuda bg-background" [class.show]="showRules" aria-labelledby="navbarDropdown">
          ﻿<!-- Default rules -->
          <a *ngIf="!itemsAyuda" class="dropdown-item" >No hay ayudas para este juego</a>
          ﻿<!-- Injected rules -->
          <ng-container *ngComponentOutlet="itemsAyuda"></ng-container>
        </div>
      </li>
      <li class="nav-item local-link" *ngIf="juego">
        <a class="nav-link " (click)="dejarJuego()">Dejar Juego</a>
      </li>
      <li class="nav-item local-link">
        <a class="nav-link" (click)="cerrarSesion()">Cerrar Sesión</a>
      </li>
    </div>
  </div>
</nav>
