<h3>Acceder a una sala*:</h3>
<div class="row min-vh-20">
  <div *ngIf="cargando; else tabla">
    <div class="text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Cargando...</span>
      </div>
    </div>
  </div>
  <ng-template #tabla>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Estado</th>
        <th scope="col">Jugadores</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of salas; let i = index">
          <th scope="row">{{ i }}</th>
          <td>{{ s.gameName }}</td>
          <td>{{ estadoSala(s) }}</td>
          <td>{{ jugadoresSala(s) }}</td>
          <td *ngIf="!sillas(s)[0] && sillas(s)[1]"><!-- at least 1 seat is available -->
            <div>
                <button class="btn btn-primary text-background-hl" (click)="unirseSala(s, sillas(s)[1])">Unirse</button>
            </div>
          </td>
          <td *ngIf="sillas(s)[0]"> <!-- Jugador esta sentado, puede jugar o salir -->
            <div class="btn-group" role="group">
              <button class="btn btn-primary text-background-hl" (click)="dejarSala(s, sillas(s)[0])">Salir</button>
              <button class="btn btn-primary text-background-hl" (click)="jugar(s, sillas(s)[0])">Jugar</button>
            </div>
          </td>
          <td *ngIf="!(sillas(s)[0] || sillas(s)[1])"><!-- sala esta llena -->
            <button class="btn btn-primary text-background-hl" (click)="espectador(s)">Espectador</button>
          </td>
        </tr>
    </tbody>
  </table>
  </ng-template>
  <div *ngIf="erroresConexion$ | async" class="alert alerta-danger" role="alert">
      Error buscando la información de salas. Por favor intente más tarde.
  </div>
</div>

<div>
  <p>*Las salas que se desocupan se borran automáticamente.</p>
</div>
