/* You can add global styles to this file, and also import other style files */
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
/********************
 BOOTSTRAP OVERRIDES
********************/

$theme-colors: (
    "background": $base03,
    "background-hl": $base02,
    "secondary": $base01,
    "primary": $base0,
    "emphasis": $base1,
    "danger": $red,
    "success": $green,
    "yellow": $yellow,
    "orange": $orange,
    "red": $red,
    "magenta": $magenta,
    "violet": $violet,
    "blue": $blue,
    "cyan": $cyan,
    "green": $green,
);
// Your variable overrides
$body-bg: $base03;
$body-color:$base0;

// Override default black/white colors
$close-color: $base1;

@font-face {
    font-family: Berlin Sanns FB;
    src: url("/assets/BRLNSB.woff") format('woff');
}

@import './bootstrap/bootstrap.scss';

html body {
    background-color: theme-color("background") !important;
}
.dark {
    background-color: theme-color("background");
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px; //height of the footer
}
.p0 {
    color: $yellow;
}
.p1 {
    color: $orange;
}
.p2 {
    color: $red;
}
.p3 {
    color: $magenta;
}
.p4 {
    color: $violet;
}
.p5 {
    color: $blue;
}
.p6 {
    color: $cyan;
}
.p7 {
    color: $green;
}

.toggle-show {
  cursor: pointer;
}

// Brand
.logo {
  width: auto;
  height: $font-size-base * 3;
}

// Remove IE10 password reveal/clear
input::-ms-clear, input::-ms-reveal {
  display: none;
}
